@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.header {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 370px;
    background-image: linear-gradient(to top, #0048AA, #001D44);
}

.texto-header {
    color: rgb(255, 255, 255);
    text-align: center;
    font: bold 40px "Inter", sans-serif;
    letter-spacing: 3px;
    position: absolute;
    z-index: 1;
    top: 70px;
    left: 150px;
}

.clinica {
    letter-spacing: 7px;
}

.liberte {
    background: linear-gradient(to right, #F6BA23, #C5900B);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: justify;
    position: relative;
    top: 160px;
    left: 153px;
    font-weight: bolder;
    letter-spacing: 7px;
}

.pheader {
    top: 205px;
    left: 155px;
    font-weight: 700;
    font-size: 1em;
    text-align: justify;
}

.butao {
    top: 260px;
    left: 210px;
    font-size: 20px;
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
    background-image: linear-gradient(to right, #F6BA23, #C5900B);
    border: none;

}